@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
body {
  font-family: "Montserrat", sans-serif;
}
*:focus{
  outline: 3px solid rgba(187, 163, 163, 0.2);
}
* {
  box-sizing: border-box;
}
h1,
h2,
h3 {
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  max-width: 100%;
}
ul {
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}
.container {
  max-width: 1810px;
  padding: 0px 20px;
  margin-left: auto;
  margin-right: auto;
}
/* header */
/*tab*/
.tab-none{
  display: none;
}
.tab-active{
  display: block;
}

.tabs:hover{
  cursor:pointer;
  color:#FF9900;
  
}
.tabs:active{
  cursor: pointer;
  color:#E1670E;
}
/*--tab--tab*/
/* slyder */
.swiper-button-next , .swiper-button-prev  {
  color: #666666 !important ;
}
.swiper-button-next:hover,.swiper-button-prev:hover {
  color: #FF9900 !important;
}
.swiper-button-next:active, .swiper-button-prev:active{
  color:#E1670E !important;
}

 .swiper-pagination-bullet{
  width: 15px !important;
  height: 15px !important;
  opacity: 9 !important ;
  
}
.swiper-pagination-bullet-active{
  background:gray !important;
}
.color-white{
  background:#ffffff;
}

/* .swiper-slide-duplicate{
  display: none;
} */

/* --slyder-- */

.burger-menu{
  font-size: 18px;
  display: none;
  text-align: center;
}
.burger-menu a:hover {
  color: red;
}
.burger-menu-active{
  display: block ;
  position: sticky; 
  top: 0;
}

.burger-box {
  display: none;
}
.header {
  position: relative;
  z-index: 5;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
}

.header-container {
  padding-top: 12px;
  padding-bottom: 11px;
  display: flex;
  align-items: center;
}
.burger {
  width: 30px;
  height: 3px;
  background-color: black;
  margin: 7px 0;
}
.header-logo {
  max-width: 224px;
}
.nav-header-ul {
  padding-bottom: 4px;
  display: flex;
}
.nav-header-ul a:hover {
  padding-bottom: 10px;
  border-bottom: 2px solid #ff9900;
}
.header-left {
  margin-right: auto;
}
.nav-header-li {
  padding-left: 84px;
  margin-top: 9.5px;
  font-weight: 600;
  font-size: 18px;
}
.nav-header-li:nth-child(5) {
  padding-right: 69px;
}

.btn-search {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.btn-search:hover svg rect,
.btn-search:hover svg circle {
  transition: 0.2s ease-in-out;
}
.btn-search:hover svg rect {
  fill: #ff9900;
}
.btn-search:hover svg circle {
  stroke: #ff9900;
}
/* --header-- */

/* section-calculation */
.section-calculation {
  width: 100%;
  /* background-color: #E5E5E5;; */
}
.container-calculation{
  padding: 0 20px;
}
.slyde1{
  background-image: url("/img/calculation-bgc.jpg");
  max-width: 1770px;
  min-height: 620px;
  background-repeat: no-repeat;
  background-size: cover;
 
}
.swiper-pagination{
  color: red;
}
.slyde2{
  background-image: url("/img/sl2.png");
  /* max-width: 1770px; */
  width: 100%;
  min-height: 620px;
  background-repeat: no-repeat;
  background-size: cover;
}
.slyde3{
  background-image: url("/img/sl3.png");
  /* max-width: 1770px; */
  width: 100%;
  min-height: 620px;
  background-repeat: no-repeat;
  background-size: cover;
}


h1 {
  margin-bottom: 20px;
  padding-top: 104px;
  padding-left: 76px;
  max-width: 900px;
  line-height: initial;
  letter-spacing: 0.95px;
  font-style: normal;
  font-weight: 800;
  font-size: 70.3742px;
  color: #ffffff;
}
.calculation-strong {
  font-weight: bold;
  max-width: 860px;
  margin-bottom: 101px;
  padding-left: 76px;
  line-height: 1.2;
  /* display: inline-block; */
  color: #ffffff;
  font-size: 23.45px;
}
.btn-calculation {
  display: inline-block;
  padding: 25px 37px;
  color: #ffffff;
  background-color: #ff9900;
  font-weight: bold;
  font-size: 23.4581px;
  border: solid 1px #ff9900;
}
.btn-calculation:hover {
  background: rgba(255, 153, 0, 0.6);
}
.ml80 {
  margin-left: 76px;
}

/* --section-calculation-- */

/* section-AboutUs */
.section-AboutUs {
  padding-top: 105px;
}
.h2-style {
  margin-bottom: 22px;

  font-size: 48px;
  font-style: normal;
  font-weight: normal;
}

.section-AboutUs-p {
  max-width: 1235px;
  line-height: 2;
  margin-bottom: 42px;
}
.AboutUs-content {
  display: flex;
  width: 100%;
}
.content-left {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 49.5%;
  min-height: 622px;
  background-image: url("/img/work.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.content-left-box {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 28%;
  background: rgba(0, 0, 0, 0.5);

  background-size: 100%;
}
.content-left-text {
  margin-left: 17px;
  max-width: 497px;
  line-height: 2;
  color: #ffffff;
}
.btn-AboutUs {
  margin-right: 32px;
  padding: 17px 37px;
  font-size: 16px;
  color: #ffffff;
  border: 3px solid #ff9900;
}
.btn-AboutUs:hover {
  background-color: #ff9900;
}
.content-right {
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 51%;
  padding-left: 28px;
}
.content-right-block1 {
  padding-left: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #cacaca;
  flex: 1;
}
.content-right-block2 {
  padding-left: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #cacaca;
  flex: 1;
}
.content-right-block1 {
  margin-bottom: 31px;
  margin-top: 3px;
}
.content-right-ul {
  padding-left: 42%;
  padding-top: 7%;
}
.bgi-1 {
  background-size: 20.5%;
  background-image: url("/img/Group-25.png");
  background-repeat: no-repeat;
  background-position: 64px 70px;
}
.bgi-2 {
  background-size: 20.5%;
  background-image: url("/img/Group-24.png");
  background-repeat: no-repeat;
  background-position: 62px 53px;
}
.content-right-h3 {
  padding-top: 1%;
  padding-left: 1%;
  /* padding-left: 21%; */
  font-weight: bold;
  font-size: 24px;
}
.content-right-p {
  margin-left: -6px;
  padding-top: 1%;
  /* padding-left: 16%; */
  max-width: 63%;
  font-size: 16px;
  line-height: 2;
}
.content-right-p2 {
  margin-left: 7px;
  padding-top: 1%;
  /* padding-left: 17%; */
  max-width: 65%;
  font-size: 16px;
  line-height: 2;
}
.content-right-h3-2 {
  margin-top: 3px;
  margin-right: 41px;
  /* padding-left: 16%; */
  font-weight: bold;
  font-size: 24px;
}

/* --section-AboutUs-- */

/* section-work */
.section-work {
  margin-left: 3px;
  padding-top: 104px;
}
.work-content {
  width: 50%;
  padding-right: 110px;
}
.h2-style-section-work {
  font-size: 48px;
  font-style: normal;
  font-weight: normal;
}
.section-work-h3 {
  font-weight: bold;
  font-size: 24px;
}
.work-box {
  background-size: 49%;
  background-image: url("/img/img-work.jpg");
  background-repeat: no-repeat;
  background-position: right;
}
#two{
  background-image: url("/img/img-work2.png");
}
#three{
  background-image: url("/img/img-work3.png");
}
#four{
  background-image: url("/img/img-work4.png");
}

.ul-step {
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 18px;
}
.ul-step a:hover {
  color: #ff9900;
}
.li-step:not(:last-child) {
  padding-right: 90px;
}

.right-block-p {
  /* max-width: 758px; */
  font-size: 16px;
  line-height: 2;
}
.right-block-mb {
  margin-left: 0;
  margin-top: -15px;
  margin-bottom: 66px;
}

.btn-work {
  display: inline-block;
  margin-right: 28px;
  padding: 20px 38px;
  background-color: #ff9900;
  color: #ffffff;
}

.btn-contract {
  display: inline-block;
  padding: 19px 38px 19px 38px;
  border: 1px solid #333333;
}
.btn-contract:hover {
  color: #ffffff;
  background-color: #333333;
}
/* --section-work-- */

/* section-faq */
.acc{
  display: none;
}
.section-faq {
  padding-top: 103px;
}
.faq-ul {
  padding-top: 40px;
  margin: 0;
  padding-left: 7px;
}
.faq-li {
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
  padding-bottom: 44px;
  border-top: 1px solid #cacaca;
}
/* bnt+ */
.btn-plus {
  width: 50px;
  height: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 0px;
  transition: background-color 0.1s ease-in-out;
  background-color: #ececec;
}
.btn-plus:hover {
  background-color: #d2d2d2;
}
.btn-plus span {
  transition: width 0.1s ease-in-out;
  height: 1px;
  display: block;
  width: 30px;
  background-color: #000;
}
.btn-plus span:last-child {
  transform: rotate(90deg);
  position: absolute;
}
.btn-plus .active {
  width: 0px;
}
/* --btn+-- */
.mb0 {
  margin-bottom: 0;
}
.faq-li:last-child {
  border-bottom: 1px solid #cacaca;
}
.h2-style-faq{
  font-size: 48px;
  font-weight: normal;
}
.h3-style {
  width: 80%;
  padding-top: 10px;
  padding-bottom: 12px;
  font-weight: bold;
  font-size: 24px;
}
.h3-style:hover {
  color: #ff9900;
  cursor: pointer;
}
/* --section-faq-- */

/* footer */
.h2-style-footer{
  font-size: 48px;
    font-style: normal;
    font-weight: normal;
}
.footer {
  margin-top: 53px;
  padding-bottom: 75px;
  /* height: 620px; */
  background-color: #222222;
  width: 100%;
}
.footer-container {
  display: flex;
  justify-content: space-between;
}
.footer-input {
  width: 100%;
  padding-top: 19px;
  padding-bottom: 18px;
  padding-left: 24px;
}
.footer-input,
.footer-textarea {
  background: #414141;
  resize: none;
  border:none
}
.footer-nav {
  margin-top: 49px;
}
.footer-nav-ul {
  margin-top: 16px;
  font-weight: 600;
  font-size: 18px;
  color: #cacaca;
}
.footer-nav-li {
  margin-bottom: 15px;
}
.footer-nav-li:nth-child(1) {
  margin-bottom: 17px;
}
.footer-nav-li:nth-child(2) {
  margin-bottom: 15px;
}
.footer-nav-li:nth-child(3) {
  margin-bottom: 16px;
}
.footer-nav-li:nth-child(4) {
  margin-bottom: 17px;
}
.footer-left-sign {
  display: flex;
  margin-top: 115px;
}
.i-style {
  width: 60px;
  height: 60px;
  background-color: #7c7c7c;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.i-style:not(:last-child) {
  margin-right: 25px;
}

.footer-center {
  flex-basis: 570px;
  margin-top: 61px;
  margin-left: 108px;
}
.footer-textarea {
  width: 100%;
  padding-top: 22px;
  padding-left: 24px;
}
.btn-footer {
  margin-top: 26px;
  padding: 20px 59px 20px 52px;
  background-color: #ff9900;
  border: 1px solid #ff9900;
  color: #ffffff;
}
.text-checkbox {
  letter-spacing: -0.4px;
  font-size: 16px;
  color: #cacaca;
}
.label-checkbox {
  margin-left: 27px;
}
.checkbox {
  display: none;
}
.fake-span-checkbox {
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px solid #cacaca;
  position: relative;
}
.fake-span-checkbox::before {
  content: "";
  position: absolute;
  cursor: pointer;
  width: 14px;
  height: 14px;
  background-image: url("/img/checkbox.png");
  background-repeat: no-repeat;
  background-position: 11% 20%;
  opacity: 0;
  transition: 1s;
}
.checkbox:checked + .fake-span-checkbox::before {
  opacity: 1;
}
.footer-right {
  display: flex;
  align-items: center;
}
.footer-right-p {
  margin-top: 20px;
  line-height: 2;
  max-width: 363px;
  font-weight: normal;
  font-size: 16px;
  color: #cacaca;
}
.mb-h2 {
  color: #cacaca;
  margin-bottom: 25px;
}
.footer-img:not(:last-child) {
  margin-right: 24px;
}
/* --footer-- */

@media screen and (max-width: 1450px) {
  .content-right-h3,
  .content-right-h3-2 {
    padding-left: 16%;
  }
  .footer-right-p {
    margin-left: 10px;
  }
}

@media screen and (max-width: 1200px) {
  .header-logo {
    padding-top: 26px;
    padding-bottom: 26px;
  }
  .nav-header-ul {
    display: none;
  }
  .header-left {
    margin-right: 0;
  }
  .header-container {
    padding-top: 26px;
    padding-bottom: 26px;
    justify-content: space-between;
  }
  .btn-search {
    margin-right: -8px;
  }

  .burger-box {
    display: block;
  }
  .nav-header-right {
    display: none;
  }
  .header-logo {
    max-width: 150px;
  }
  .container {
    padding: 0 50px;
  }
  .container-calculation{
    padding: 0 50px;
  }
  /* section-calculation */

  .container-bgi {
  
    min-height: 665px;
    background-image: url(../img/1024/calcukation-bgc-1024.jpg);
    background-position: 0 -103px;
  }
  h1 {
    font-size: 60px;
    padding-left: 0;
    margin-left: 42px;
    padding-top: 156px;
    margin-bottom: 10px;
  }
  .calculation-strong {
    margin-bottom: 111px;
    margin-left: 45px;
    font-size: 20px;
    padding-left: 0;
    max-width: 780px;
  }
  .btn-calculation {
    margin-left: 51px;
  }

  /* --section-calculation */

  /* section AboutUs */
  .section-AboutUs {
    padding-top: 60px;
  }
  .section-AboutUs-p {
    margin-bottom: 60px;
  }
  .h2-style {
    margin-bottom: 27px;
  }
  .h2-style-faq{
    font-size: 48px;
    font-weight: normal;
   
  }
  .content-left {
    width: 100%;
    min-height: 640px;
    margin-bottom: 45px;
  }

  .content-left-box {
    justify-content: left;
    height: 27%;
  }
  .content-left-text {
    margin-left: 4.5%;
    margin-right: 17%;
  }
  .content-right-p {
    padding-left: 37px;
    padding-top: 7px;
    padding-bottom: 64px;
    max-width: 480px;
  }
  .content-right-p2 {
    margin-left: -7px;
    padding-left: 37px;
    padding-top: 7px;
    padding-bottom: 64px;
    max-width: 480px;
  }
  .content-right-h3 {
    margin-top: 60px;
    margin-right: 73px;
  }
  .content-right-h3-2 {
    margin-top: 69px;
    margin-right: 124px;
  }

  .bgi-1 {
    background-size: 19%;
    background-position: 114px 76px;
  }
  .bgi-2 {
    background-size: 19%;
    background-position: 113px 64px;
  }
  .content-right-block1 {
    margin-bottom: 38px;
  }

  .content-right {
    width: 100%;
    padding-left: 0;
  }
  .content-right-ul {
    padding-top: 64px;
  }
  .AboutUs-content {
    flex-wrap: wrap;
  }
  /* --section AboutUs-- */

  /* section work */
  .h2-style-section-work {
    margin-left: -7px;
    font-size: 48px;
    font-style: normal;
    font-weight: normal;
  }
  .section-work-h3 {
    font-weight: bold;
    font-size: 24px;
  }
  .section-work {
    margin-left: 0;
    padding-top: 61px;
  }
  .work-content {
    width: 58.8%;
    padding-right: 106px;
  }
  .work-box {
    background-image: url("../img/1024/img-work2.png");
    background-size: 47%;
    background-position: right 6px;
  }
  .right-block-mb {
    margin-bottom: 31px;
  }
  .btn-work {
    margin-right: 28px;
  }

  /* --section-work-- */

  /* section-faq */
  .section-faq {
    padding-top: 62px;
  }
  .faq-li:nth-child(1) {
    padding-top: 64px;
    padding-bottom: 20px;
  }
  .faq-li:nth-child(2) {
    padding-top: 32px;
    padding-bottom: 31px;
  }
  .faq-li:nth-child(3) {
    padding-top: 40px;
    padding-bottom: 27px;
  }
  .faq-li:nth-child(4) {
    padding-top: 29px;
    padding-bottom: 32px;
  }
  .faq-li:nth-child(5) {
    padding-top: 38px;
    padding-bottom: 24px;
  }
  .h3-style {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 20px;
  }
  .faq-ul {
    padding-top: 0;
    padding-left: 0;
  }

  /* --section-faq-- */

  /* footer */
  .h2-style-footer{
    margin-top: -7px;
  }
  .footer {
    padding-bottom: 73px;
    margin-top: 86px;
  }
  .footer-nav-img {
    margin-left: 31px;
  }
  .label-checkbox {
    margin-left: 15px;
  }
  .footer-container {
    padding: 0 20px;
    flex-wrap: wrap;
  }
  .btn-footer {
    margin-top: 30px;
    margin-left: 4px;
    padding: 20px 38px;
  }
  .footer-center {
    margin-top: 68px;
    flex-basis: 541px;
  }
  .footer-right-p {
    display: none;
  }
  .footer-nav-ul {
    margin-top: 15px;
    margin-left: 29px;
  }
  .footer-left-sign {
    margin-left: 28px;
  }
  .mb-h2 {
    margin-bottom: 24px;
  }
  /* --footer-- */
}

@media screen and (max-width: 992px) {
  /* header */
  .header-container {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .burger-box {
    padding-bottom: 10px;
  }
  .header-logo{
    padding-top: 0;
    padding-bottom: 0;
  }
  .container-calculation{
    padding: 0 0 ;
  }
  /* --header-- */

  /* section-calculation */

  .container-bgi {
  
    background-image: url(../img/992/calculation-bgc768.jpg);
    background-position: 0 -72px;
    min-height: 696px;
  }
  h1 {
    padding-top: 187px;
    margin-left: 47px;
    width: 92%;
  }
  .calculation-strong {
    margin-left: 47px;
  }

  /* --section-calculation */

  /* section-AboutUS */
  .content-left {
    min-height: 650px;
    background-image: url(../img/992/work768.png);
  }

  .content-left-text {
    margin-left: 30px;
    margin-right: 30px;
  }
  .btn-AboutUs {
    margin-right: 30px;
    margin-top: 4px;
  }
  .bgi-1 {
    background-size: 115px;
    background-position: 32px 73px;
  }
  .bgi-2 {
    background-size: 115px;
    background-position: 32px 69px;
  }
  
  .content-right-block2 {
    padding-left: 95px;
  }
  
  .content-left {
    margin-bottom: 37px;
  }
  .content-right-ul {
    padding-top: 0;
    padding-left: 165px;
  }
  .content-right-h3 {
    padding-left: 5px;
    margin-top: 31px;
     margin-right: 0;
  }
  .content-right-h3-2 {
    padding-left: 0;
    margin-top: 37px;
     margin-right: 0;
  }

  .content-right-p {
    padding-left: 19px;
    padding-bottom: 35px;
  }
  .content-right-p2 {
    padding-left: 39px;
    padding-bottom: 35px;
  }
  /* --section-AboutUs-- */

  /* section-work */
  .h2-style {
    margin-left: -4px;
    /* min-width: 689px; */
    letter-spacing: -0.4px;
  }
  .work-box {
    background-image: url(../img/992/img-work768.png);
    background-size: 100%;
    background-position: top;
  }
  .work-content {
    width: 100%;
    padding-right: 0;
    padding-top: 48.5%;
  }
  .ul-step {
    justify-content: space-between;
  }

  /* --section-work-- */

  /* section-faq */
  .h3-style {
    line-height: 1.4;
  }
    .h2-style-faq{
      margin-bottom: 22px;
      font-size: 48px;
      font-style: normal;
      font-weight: normal;
      margin-left: -4px;
      width: 103%;
      letter-spacing: -0.6px;
    }
  .faq-ul {
    margin-top: 38px;
  }
  .faq-li:nth-child(1) {
    padding-top: 37px;
    padding-bottom: 31px;
  }
  .faq-li:nth-child(2) {
    padding-top: 26px;
    padding-bottom: 32px;
  }
  .faq-li:nth-child(3) {
    padding-top: 23px;
    padding-bottom: 34px;
  }
  .faq-li:nth-child(4) {
    padding-top: 23px;
    padding-bottom: 34px;
  }
  .faq-li:nth-child(5) {
    padding-top: 23px;
    padding-bottom: 34px;
  }

  /* --section-faq-- */

  /* footer */
  .btn-footer{
    margin-top: 28px;
  }
  .mb-h2{
    margin-bottom: 25px;
  }
  .h2-style-footer{
    margin-top: 0;
    font-size: 48px;
      font-style: normal;
      font-weight: normal;
  }
  .footer {
    margin-top: 57px;
    padding-bottom: 0;
  }
  
  .footer-center {
    margin-left: 29px;
    margin-top: 61px;
  }
  .footer-input,
  .footer-textarea {
    width: 76%;
    background: #414141;
  }
  .text-checkbox {
    margin-left: -4px;
    letter-spacing: 0;
  }
  .footer-left-sign {
    margin-top: 12px;
  }
  .footer-nav {
    margin-top: 9px;
    margin-bottom: 58px;
  }
  .footer-nav-ul {
    display: none;
  }
  .footer-container {
    flex-direction: column-reverse;
  }
  /* --footer-- */
}
  @media screen and (max-width: 767px) {
    h1{
     font-size: 30px;
    }

    .container{
      padding: 0 15px;
    }
    .container-calculation{
      padding: 0 50px;
    }
   
    .container-bgi{
      padding-bottom: 15%;
    }
    .bgi-1{
      background-size: 14%;
    } 
     .bgi-2{
      background-size: 14%;
    }
   .h2-style-faq{
     max-width: 689px;
   }
   .section-AboutUs{
    padding-top: 0;
  }
    /* .content-right-h3-2{
      margin-left: 26px;
    } */
    /* .section-faq,.h2-style{
      min-width: 100%;
    } */

    @media screen and (max-width: 650px){
      h1{margin-bottom: 0;
        font-size: 30px;
        margin-bottom: 26px;
      }
      .btn-calculation{
        position: relative;
        left: inherit;
        transform: inherit;
      }
      .section-AboutUs{
        padding-top: 0;
      }
      .content-left-text{
        font-size: 13px;
        margin-left: 5px;
        margin-right: 6px;
      }
      .container-calculation{
        padding: 0 15px;
      }
      
      .btn-AboutUs{
        padding: 15px 30px;
      }
  
      .content-right-h3-2{
        padding-left: 30px;
      }
      .content-right-h3{
        padding-left: 13px;
      }
      .bgi-1{
        background-size: 14%;
      } 
       .bgi-2{
        background-size: 14%;
      }
      .h2-style-footer{
        text-align: inherit;
      }
      
    }
   @media screen and (max-width:576px){
     /* header */
     .container{
       padding: 0 15px;
     }
     .container-calculation{
       padding: 0 15px;
     }
     .btn-search{
       display: none;
     }
     .header-container{
       padding-bottom: 0;
       padding-top: 0;
       flex-direction: row-reverse;
     }
     .header-left{
       margin-right: auto;
     }
     
     .burger-box{
       margin-top: 4px;
       padding-bottom: 6px;
     }
     .burger{
       margin-bottom: 5px;
       width: 25px;
       height: 3px;
     }
     .header-logo{
       max-width: 97px;
     }
     /* --header-- */
     /* section-calculation */
     .container-bgi{
       min-height: 282px;
     
       background-image: url("../img/320/calculation-bgc320.jpg");
       /* background-size:contain; */
       background-position: 0 -50px;
     }
     h1{
       max-width: 100%;
       text-align: center;
       margin-left: 20px;
       font-size: 20px;
       padding-top: 30px;
       letter-spacing: 0;
       margin-bottom: 11px;
     }
     .calculation-strong{
       margin-bottom: 0;
       margin-left: 22px;
      
       max-width: 90%;
       letter-spacing: -0.2px;
       text-align: center;
       font-size: 12px;
     }
    
     .btn-calculation{
      margin-top: 37px;
      margin-left: 0px;
      padding: 11px 27px;
      font-size: 12px;
      position: relative;
      left: 50%;
      transform: translate(-50%, 0);
    }
     .section-calculation{
       padding-bottom: 18px;
     }
     /* --section-calculation-- */
     /* section-AboutUs */
     .section-AboutUs{
       padding-top: 0;
     }
     .h2-style{
      
       margin-bottom: 4px;
     
       margin-left: 0;
       font-size: 24px;
     }
     .h2-style-faq{
      margin-bottom: 4px;
    letter-spacing: 0;
      margin-left: 0;
      font-size: 24px;
    }
     .section-AboutUs-p{
       margin-bottom: 9px;
       font-size: 14px;
     }
     .content-left{
       margin-bottom: 0;
       display: block;
      min-height: 431px;
       background-image: url("../img/320/work-320.png");
       background-size: 100%;
     }
     .content-left-box{
       background: none;
       margin-top: 72%;
       display: block;
     }
     .content-left-text{
       margin-left: 0;
       margin-right: 0;
       letter-spacing: -0.4px;
       color: #333333;
       font-size: 14px;
     }
     .btn-AboutUs{
      position: relative;
      left: 50%;
      transform: translate(-50%, 0);
       margin-top: 12px;
       padding: 11px 41px;
       width: 161px;
       display: block;
       font-size: 12px;
       font-weight: 700;
       color: #FF9900;
       border:2px solid #FF9900 ;  
     }
     .content-right-block1{
       margin-bottom: 0;
       margin-top: 0;
       padding-left: 0;
       border: none;
       letter-spacing: -0.4px;
     }
     .content-right-h3{
       padding-top: 130px;
       /* padding-left: 0; */
       font-size: 18px;
       font-weight: 600;
       color: #333333;
     }
     .content-right-h3-2{
       margin-top: 0;
       padding-top: 140px;
       padding-left: 0;
       margin-left: 0;
       font-size: 18px;
       font-weight: 600;
       letter-spacing: -0.4px;
     }
     .content-right-p{
       text-align: center;
       padding-bottom: 0;
       padding-left: 5px;
       font-size: 14px;
       letter-spacing: 0.1px;
     }
     .content-right-p2{
       text-align: center;
       padding-bottom: 0;
       padding-left: 7px;
       font-size: 14px;
     }
     .bgi-1{
       background-position: center 60px;
       background-size: 22%;
     }
     .content-right-block2{
       border: none;
     }
     .bgi-2{
       background-position: center 20px;
       background-size: 22%;
      padding-left: 0;
     }
     /* --section-AboutUs-- */
     /* section-work */
     .section-work{
       padding-top: 46px;
     }
     .h2-style-section-work{
       margin-left: 0;
       font-size: 24px;
     }
     .ul-step{
       margin-bottom: 0;
       margin-top: 38px;
       font-size: 14px;
     }
     .li-step:not(:last-child){
       padding-right: 0;
     }
     .work-box{
       background-position: 1px 16px;
       background-image: url("../img/320/img-work-320.png");
     }
     .section-work-h3{
       padding-top: 2px;
       letter-spacing: -0.4px;
       font-size: 18px;
     }
     .work-text{
       margin-top: 49px;
     }
     .right-block-p{
       font-size: 14px;
     }
     .right-block-mb{
       margin-bottom: 22px;
     }
     .btn-work{
       margin-bottom: 3px;
       margin-right: 7px;
       padding:13px 45px;
       font-size: 12px;
     }
     .btn-contract{
       padding: 12px 30px;
       font-size: 12px;
     }
     /* --section-work */
     /* section-faq */
     .section-faq{
       padding-top: 38px;
     }
     .section-faq , .h2-style{
       min-width: 10px;
       letter-spacing: -0.2px;
     }
     .h3-style{
       font-size: 14px;
     }
     .btn-plus{
       width: 30px;
       height: 30px;
     }
     .btn-plus span{
       width: 20px;
     }
     .faq-li:nth-child(1){
      padding-top: 20px;
      padding-bottom: 20px;
     }
     .faq-li:nth-child(2){
      padding-top: 20px;
      padding-bottom: 20px;
     }
     .faq-li:nth-child(3){
      padding-top: 20px;
      padding-bottom: 20px;
     }
     .faq-li:nth-child(4){
      padding-top: 20px;
      padding-bottom: 20px;
     }
     .faq-li:nth-child(5){
      padding-top: 20px;
      padding-bottom: 20px;
     }
     .faq-ul{
       margin-bottom: 98px;
     }
     /* --section-faq-- */
     /* footer */
     .footer-center{
       margin-top: 40px;
       margin-left: -2px;
     }
     .h2-style-footer{
       text-align: inherit;
       font-size: 24px;
     }
     .footer-input, .footer-textarea{
       width: 100%;
       font-size: 14px;
     }
     .mb-h2{
       margin-bottom: 24px;
     }
     .footer-textarea{
       padding-top: 25px;
       padding-bottom: 18px;
     }
     .btn-footer{
       margin-bottom: 18px;
       margin-top: 20px;
       margin-left: 56px;
       padding: 13px 30px;
       font-size: 12px;
     }
     .label-checkbox{
       position: relative;
     }
     .fake-span-checkbox{
     top: 49px;
     right: 253px;
     }
     .fake-span-checkbox::before{
       margin-left: -35%;
     }
     .img-footer{
       margin-left: 0;
       max-width: 131px;
     }
     .footer-img{
       max-width: 34.4px;
     }
     .footer-img:not(:last-child){
       margin-right: 14px;
     }
     .footer-left-sign{
       justify-content: center;
       margin-left: 0;
     }
     .text-checkbox{
       display: block;
       margin-left: 25px;
     }
     .footer-nav{
       margin-top: -16px;
     }
     .form-footer{
       text-align: center;
     }
     .h2-style-footer{
      text-align: center;
    } 
     .footer-nav-img {
       display: block;
       text-align: center;
      margin-left: 0;
    }
  }

     @media screen and (max-width:320px){

      h1{
        width: inherit;
        max-width: 100%;
        text-align: center;
        margin-left: 0px;
        font-size: 20px;
        padding-top: 30px;
        letter-spacing: 0;
        margin-bottom: 11px;
      }
      .calculation-strong{
        margin-bottom: 0;
        margin-left: 22px;
       
        max-width: 246px;
        letter-spacing: -0.2px;
        text-align: center;
        font-size: 12px;
      }
      .btn-calculation{
        margin-top: 37px;
        margin-left: 60px;
        padding: 11px 27px;
        font-size: 12px;
        transform: inherit;
        left: inherit;
      }
      .section-calculation{
        padding-bottom: 18px;
      }
      .content-right-h3{
        padding-top: 43px;
        padding-left: 0;
        font-size: 18px;
        font-weight: 600;
        color: #333333;
      }
      .content-right-h3-2{
        margin-top: 0;
        padding-top: 90px;
        padding-left: 0;
        margin-left: 0;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: -0.4px;
      }
      .content-right-p{
        text-align: inherit;
        padding-bottom: 0;
        padding-left: 5px;
        font-size: 14px;
        letter-spacing: 0.1px;
      }
      .content-right-p2{
        text-align: inherit;
        padding-bottom: 0;
        padding-left: 7px;
        font-size: 14px;
      }
      .btn-AboutUs{
        position: initial;
        left: none;
        transform: none;
        margin-top: 12px;
        padding: 11px 41px;
        width: 161px;
        display: block;
        font-size: 12px;
        font-weight: 700;
        color: #FF9900;
        border:2px solid #FF9900 ;  
      }
      .bgi-1{
        background-position: 0 10px;
        background-size: 22%;
      }
      .bgi-2{
        background-position: 0 20px;
        background-size: 22%;
       padding-left: 0;
      }
      /* footer */
      .btn-footer{
        margin-bottom: 18px;
        margin-top: 20px;
        margin-left: 56px;
        padding: 13px 30px;
        font-size: 12px;
      }
      .text-checkbox{
        display: block;
        margin-left: 25px;
      }
      .img-footer{
        margin-left: 49px;
        max-width: 131px;
      }
      .footer-left-sign{
        margin-left: 0;
      }
      .footer-img{
        max-width: 34.4px;
      }
      .footer-img:not(:last-child){
        margin-right: 14px;
      }
      .fake-span-checkbox{
        top: 49px;
        right: 247px;
        }
       .h2-style-footer{
         text-align: inherit;
         margin-left: 0;
       } 
      
      .footer-nav{
        margin-top: -16px;
      }
      .form-footer{
        text-align: inherit;
      }
      .footer-nav-img{
       margin-left: 31px;
        display: flex;
      }
      .fake-span-checkbox::before{
        margin-left: 0;
      }
    }
      /* --footer-- */}